.carousel-caption{
    background-color: rgba(0,0,0,0.5);
}
@font-face {
    font-family: "HarryP";
    src: url(./fonts/HARRYP__.TTF) format('truetype');
}

@font-face {
    font-family: "Lumos";
    src: url(./fonts/LUMOS.TTF) format('truetype');
}

@font-face {
    font-family: "IncendioFont";
    src: url(./fonts/CELTG___.TTF) format('trutype');
}

.logo {
  font-family: "IncendioFont";
}
.lumos {
  font-family: "Lumos";
}
.HP {
  font-family: "HarryP";
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
.carousel-item {
  height: 20rem;
  position: relative;
}

.carousel-caption h2{
  font-size:70px;
  font-weight: 400;
  color: white;
}
.carousel-caption p{
  color: white;
  font-size: 18px;
  font-weight: 600;
}

figcaption h2{
  font-size:70px;
  font-weight: 400;
  color: white;
}

figcaption p{
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.banner {
  background-image: url("images/birthday-cake.jpg");
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 1rem;
}

hr {
    border: dashed lightgrey 4px;
    border-bottom: none;
    width: 50%;
    margin: 50px auto;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

#h3Feedback {
  text-align: center;
}

#fnameLabel, #lnameLabel, #contactTelLabel, #emailLabel, #feedbackLabel {
  padding-left: 10px;
  font-family: 'Lumos', Times, serif;
  text-align: right;
}

@media (max-width: 760px) {
    #fnameLabel, #lnameLabel, #contactTelLabel, #emailLabel, #feedbackLabel {
        padding-left: 10px;
        font-family: 'Lumos', Times, serif;
        text-align: left;
    }
  }

.card-body h2 {
  font-size: 3rem;
}

  #menu .card .card-header .btn-link::after{
    content:"\f106";
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    float: right;
  }
  
  #menu .card .card-header .btn-link.collapsed::after{
    content:"\f107";
  }

  #menu .card .card-header p {
    color: grey;
    line-height: 50%;
  }

  #menu .card {
    border-right: none;
    border-left: none;
  }